html,
body {
  padding: 0 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout{
  padding: 0 !important;
  max-width: 100% !important;
}

.layout-inner{
  /* width: 100%; */
}

.main{
  /* padding: 0 24px; */
  min-height: 100vh;
}

.slick-active .media-item-content {
  opacity: 1;
  transition: opacity 1s ease 150ms;
}

@media (max-width: 900px){

  .multi-slider .swiper-button-prev, .multi-slider .swiper-button-next {
    top: 98px !important;
  }

  .multi-slider .swiper-button-prev:after, .multi-slider .swiper-button-next:after {
    font-size: 26px;
  }
}

.multi-slider .swiper-button-prev, .multi-slider .swiper-button-next {
  color: #addc35 !important;
  background-color: #333;
  border-radius: 6px;
  top: 120px;
  padding: 6px 8px;
  width: auto;
  height: auto;
}