html,
body {
  padding: 0 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout{
  padding: 0 !important;
  max-width: 100% !important;
}

.layout-inner{
  /* width: 100%; */
}

.main{
  /* padding: 0 24px; */
  min-height: 100vh;
}

.slick-active .media-item-content {
  opacity: 1;
  transition: opacity 1s ease 150ms;
}

@media (max-width: 900px){
  .main{
    /* padding: 0 10px; */
  }
}